* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #1b1c20;
    color: #fff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap : 20px;
}

.search {
    display: flex;
    gap: 10px;
}

.input {
    padding: 20px;
    border-radius: 8px;

}