* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #b6c3b5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  background-color: #1c1c1c;
  color: #fff;
  padding: 24px;
  border-radius: 25px;
  width: 360px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.weather-main {
  display: flex;
  align-items: center;
  gap: 16px;
}

.main-icon {
  width: 60px;
}

.weather-info .time {
  font-size: 0.85rem;
  color: #aaa;
}

.weather-info .temp {
  font-size: 1.2rem;
  font-weight: 600;
}

.weather-info .location {
  font-size: 0.9rem;
  color: #ccc;
}

.sun-times {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 12px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 0.85rem;
  color: #ccc;
}

.forecast {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  overflow-x: auto;
}

.day-card {
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  width: 50px;
  font-size: 0.75rem;
  flex-shrink: 0;
}

.day-card img {
  width: 32px;
  margin: 5px 0;
}

.day-card.active {
  background-color: #3c3c3c;
  font-weight: 600;
}
