@import url('https://fonts.googleapis.com/css2?family=Anton&family=Modak&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 500;
}

body {
    background: url("bg/bg-15.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(8px);
}

/* Utilities */

.reguler-txt {
    font-weight: 400;
}
/* End utilitie */

.main-content {
    width: 38%;
    height: 500px;
    z-index: 1;
    background: linear-gradient(
        to top, rgb(0, 0, 0, 0.15),
        rgb(255, 255, 255, 0.15)
    );
    border-radius: 20px;
    backdrop-filter: blur(100px);
    padding: 25px;
    border: 1px solid #e0e7f5;
}

/* Input Container */

.input-container {
    position: relative;
    margin-bottom: 10px;
}

.city-input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 400;
    transition: 0.25s border;
    padding-right: 45px;
}

.city-input:focus {
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.city-input::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

/* Section Weather */

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.top-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 8px
}

.weather-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.location-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.weather-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-summary-img {
    width: 110px;
    height: 110px;
}

.current-date-txt {
    font-size: 0.85rem;
    color: #fff;
}

.weather-combain {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6px;
}

.condition-txt {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
.temp-txt {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.weather-summary-info {
    text-align: end;
}

.weather-conditions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 6px 0; 
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
}

.weather-conditions-container img {
    width: 30px;
    height: 30px;
}

.weather-conditions-container2 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 0 12px;
    margin: 5% 0;
}

.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item span {
    font-size: 30px;
}

.forecast-items-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;
}

.forecast-items-container::-webkit-scrollbar {
    height: 6px;
}

.forecast-items-container::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.25);
    border-radius: 99px;
}

.forecast-item {
    min-width: 100px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition:0.3s background;
}

.forecast-item:hover {
    background: rgb(255, 255, 255, 0.15);
}

.forecast-item-img {
    width: 60px;
    height: 73px;
}

/* Section : Message */

.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 15%;
}

.section-message img {
    height: 180px;
    width: fit-content;

}